# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg

.env
# local sync data / caches
run_page/data.db
activities/
Workouts/
GPX_OUT/
TCX_OUT/
FIT_OUT/
PNG_OUT/
*.fit
*.gpx
*.tcx

# node
node_modules/
dist/
